body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #2e86c1;
  color: white;
}

.container {
  margin-top: 100px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  margin: 10px;
  cursor: pointer;
  background-color: #f4d03f;
  border: none;
  border-radius: 5px;
}
